extends template

block content
    h1 Home Page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quibusdam et magni odio reiciendis voluptatibus, ratione? Maiores deleniti ad quas, atque corporis omnis, tempora libero aut mollitia quibusdam magni a.