<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=header, initial-scale=a")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= `${title} Simonsen Designs`
        link(rel="stylesheet" href="/styles.css")
    body
        header
            a(href="/") Home
            a(href="/about") About
            a(href="/contact") Contact

        .content
            block content   
                h1 Template Title 